Trading_Assistant.json
{
  "name": "Trading_Assistant",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "69cc09a1-b1b8-49e2-90c1-9bb9c1efe5e2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8W8CayH6iOr9xSX2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "options": {
          "pineconeNamespace": "=n8n-rag-{{ $now.toFormat('yyyyLLdd-HHmm') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        432,
        0
      ],
      "id": "66856432-387f-4940-af9f-94c234a4a33b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hpnu043Efo48mnbF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        192
      ],
      "id": "1338d024-85ab-47bb-9694-e12ba79b3bc9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "K5sc6CGzdBjY29ud",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        192
      ],
      "id": "1ecb072b-0440-4220-8ac9-bbf5d73d3985",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        352
      ],
      "id": "af8c3357-19d1-489a-ab97-c80ff3a66bb1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{\n  \"modifiedTime > '\" + \n  new Date(Date.now() - 5 * 60 * 1000).toISOString() +\n  \"' and '\" + \n  $('File Created').item.json.parents[0] + \n  \"' in parents and mimeType != 'application/vnd.google-apps.folder' and trashed = false\"\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        0
      ],
      "id": "35a64cbc-6388-4ca3-87ab-8639568a721b",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "6VCfTXMUUye8t70X",
          "name": "Google_Drive_API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "5b0c11d4-ca21-4a22-87cb-29b9b55b3dc0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Il96Veg3z9OOC0ELrPxeMP7WCsRgr9hn",
          "mode": "list",
          "cachedResultName": "RAG Folder - n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Il96Veg3z9OOC0ELrPxeMP7WCsRgr9hn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "3e7cf76b-7c5f-40e2-91ca-78df19b40cd8",
      "name": "File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8W8CayH6iOr9xSX2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        -80
      ],
      "id": "c9643970-7d2a-4268-9828-8a9d44ef73e9",
      "name": "When chat message received",
      "webhookId": "4bbc7197-3114-44c6-b41c-7e4efd032c48"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a highly intelligent, reliable, and concise assistant. You are designed to answer questions truthfully, accurately, and clearly based on the context or data provided.\n\nInstructions:\n- Always prioritize factual accuracy over speculation.\n- If you are uncertain, say “I don’t know based on the information provided.”\n- Be concise, but include essential details that add clarity or usefulness.\n- When appropriate, explain your reasoning or process in simple, logical steps.\n- Do not hallucinate facts or make up data.\n- Format lists and steps clearly using markdown when helpful.\n- When asked for code, return it in a complete block with no surrounding explanation unless requested.\n- Stay neutral and objective. Do not inject personal opinions.\n- Use professional and calm tone. Avoid overly casual or playful language.\n- Only answer based on the content you’re given. If no content exists, reply accordingly.\n\n- Do web search for the recent data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1232,
        -80
      ],
      "id": "75c7000d-b6e0-4c32-8465-2091f5593330",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        192
      ],
      "id": "f0b72139-e542-4166-8523-331a1cf9d1be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v0jAglhy2yTGipbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        192
      ],
      "id": "16fb3ca3-d0db-49e8-91a9-53693635529c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "options": {
          "pineconeNamespace": "n8n-rag-20250716-1206"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1520,
        608
      ],
      "id": "ab73ff77-5665-4674-b850-1d89af3c9633",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "hpnu043Efo48mnbF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        816
      ],
      "id": "49dc2b9e-4f59-4aa2-92d7-5001286ce184",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "v0jAglhy2yTGipbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1888,
        608
      ],
      "id": "53443bba-ed65-4a12-a61b-305403d5f5e6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "v0jAglhy2yTGipbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1472,
        192
      ],
      "id": "83e7676f-ebfc-4a04-b5a6-4dd92aca6ebf",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "wtrz4nXxo3smTMx9",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1856,
        208
      ],
      "id": "d03199c1-99a8-42ef-ade6-591defef6335",
      "name": "Think"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"{{ $json.symbol }}\",\n  \"interval\": \"1D\",\n  \"indicators\": {{ JSON.stringify($json.indicators) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1680,
        192
      ],
      "id": "6d3745cc-3a7b-4084-b836-e7bb476b1e60",
      "name": "Technical Analysis",
      "credentials": {
        "oAuth2Api": {
          "id": "t5LrlhwpPyY23NcL",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "zz062kXc86vW2BqV",
          "name": "Chart-img"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2080,
        208
      ],
      "id": "447c7f4c-3f30-48a6-9cb0-70f87c73196f",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Retrieve the context based on user query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1488,
        368
      ],
      "id": "987eeb89-ce05-4ff4-a550-3dffcdbc7e13",
      "name": "Trading RAG"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Trading RAG",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Trading RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trading RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9cd158fe-5cb4-4b9f-85ad-ea1f1a76c8af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96751ee354fd8dd7a8f4f3664391bdd8be5d2897c9237fb3d4d2d8d3f66502c9"
  },
  "id": "hIio4gXSBRd576jT",
  "tags": []
}