Zepto_Purchase.json
{
  "name": "Zepto Purchase",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d11d355a-1731-436e-ba5e-8709d4a9c43d",
                    "leftValue": "={{ $json.message.text || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7967e047-ebab-4323-b1dc-d5f6a9c22200",
                    "leftValue": "error",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        160
      ],
      "id": "71c774f5-313c-4893-92fe-c84016f011b7",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        20
      ],
      "id": "a417497e-34dd-4b55-a20d-dc3a7d497ed6",
      "name": "Telegram",
      "webhookId": "2cff26e3-2e35-4437-ae5a-248c949601c6",
      "credentials": {
        "telegramApi": {
          "id": "NqVIUvUpKTMpOAlI",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        20
      ],
      "id": "61c8a5c4-3c4b-4057-949e-3ef6bfd1ed09",
      "name": "Transcriber",
      "credentials": {
        "openAiApi": {
          "id": "v0jAglhy2yTGipbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        220
      ],
      "id": "f29e6f67-e734-48e4-b0e0-c54416ecb689",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        220
      ],
      "id": "90a6615c-0a5c-4703-bce4-99668a9c3810",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v0jAglhy2yTGipbT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39d2fa7c-a5cb-4d82-be01-2d23c9afaca8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        220
      ],
      "id": "c74bc04c-34b7-4f1a-a0f0-abe852e145a4",
      "name": "Normal text"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        160
      ],
      "id": "3c8582aa-9eba-4e45-bbfb-97562d1e784e",
      "name": "Telegram Trigger",
      "webhookId": "536f248a-2009-4244-a8bd-169329985fe3",
      "credentials": {
        "telegramApi": {
          "id": "NqVIUvUpKTMpOAlI",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Your item is added into the cart! Status : {{ $json.status }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        820,
        20
      ],
      "id": "0f9ef7b7-cb0d-4976-91f7-9836bfdbe448",
      "name": "Respond  back",
      "webhookId": "cebe43e0-3110-46b5-b262-1365ccea9442",
      "credentials": {
        "telegramApi": {
          "id": "NqVIUvUpKTMpOAlI",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an AI assistant that extracts grocery items from user requests. \n\n#Translate any language into english, Output should only in english\n\n- Your task is to extract only the names of grocery items from the user input.\n- The response must be formatted as a **JSON list** (`[]`) containing only the item names.\n- Do not return explanations, sentences, or any other text.\n- If no grocery items are found, return an empty list `[]`.\n\n### **Examples:**\nUser: \"I need to buy rice, chicken, and onions for cooking.\"\nResponse:\n[\"rice\", \"chicken\", \"onions\"]\n\nUser: \"Can you add milk and bread to my grocery list?\"\nResponse:\n[\"milk\", \"bread\"]\n\nUser: \"Hello, how are you?\"\nResponse:\n[]",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        20
      ],
      "id": "14d2292a-fb65-4724-aa04-059f5d60ddef",
      "name": "Ingredient list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://0f44-183-82-30-180.ngrok-free.app/order",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"products\": {{ $json.output }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        20
      ],
      "id": "b9023e7a-545e-4722-af55-44a28d3d0399",
      "name": "Zepto Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcriber": {
      "main": [
        [
          {
            "node": "Ingredient list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Ingredient list",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ingredient list",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normal text": {
      "main": [
        [
          {
            "node": "Ingredient list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingredient list": {
      "main": [
        [
          {
            "node": "Zepto Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zepto Agent": {
      "main": [
        [
          {
            "node": "Respond  back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98c1b19c-00e3-4169-8f4c-c546bbec81b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96751ee354fd8dd7a8f4f3664391bdd8be5d2897c9237fb3d4d2d8d3f66502c9"
  },
  "id": "KHLGX3aX4IKoinzg",
  "tags": []
}